In [11]:
import pandas as pd

tabela = pd.read_csv("data/dataset_completo_5k.csv")
tabela.head()

,age,pregnancies,glucose,bmi,insulin,blood_pressure,skin_thickness,cholesterol,diabetes_pedigree,diabetes_outcome
0,63,1,111.6,23.7,80.2,72.4,19.6,170.7,0.207,1
1,20,2,134.1,30.9,167.5,87.7,11.8,127.7,0.105,0
2,46,0,102.8,20.7,72.2,76.5,25.2,148.1,0.301,1
3,52,3,146.0,19.2,90.5,69.3,8.6,139.5,0.281,0
4,56,1,112.5,37.0,61.9,51.2,27.2,172.5,0.091,0

In [15]:
#media de glicose das pessoas
media = tabela ["glucose"].mean()
print("Media de glicose da populacao: ", media)

glicose_maxima = tabela["glucose"].max()
print("Nível máximo de glicose da populacao: ", glicose_maxima)

Media de glicose da populacao:  114.6817
Nível máximo de glicose da populacao:  184.4